API_KEY=
DASHSCOPE_API_KEY=
# 阿里云模型
# BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 火山URL
BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ALGORITHM_API_KEY=
ALGORITHM_HOST=0.0.0.0
ALGORITHM_PORT=9000
ALGORITHM_DEFAULT_CHARACTER_ID=emi
